<div class="home-programs-initiative">
   <div class="title-block">
      <div class="lazybg" data-src="images/stock-rabbit.jpg"></div>
      <div class="meta">
         <h2 class="invert">Programs &amp; Initiatives</h2>
         <p><a href="#" class="btn-blue" title="Learn More about Programs and Initiatives">DISCOVER MORE</a></p>
      </div>
   </div>
   <ul class="programs-initiatives-list">
      <li>
         <h4>Ann Turner CARE Academy</h4>
         <p>The Ann Turner CARE Academy is a public outreach training program designed to train and prepare AALAS members in their public outreach efforts.</p>
         <p><a href="#" title="Learn More about Ann Turner CARE Academy" class="btn-chev-right">Learn More</a></p>
      </li>
      <li>
         <h4>Animal Research Education and Awareness (AREA) Program</h4>
         <p>AALAS and the AALAS Foundation are striving to educating the next generation of leaders about the essential role of animals in research, education, and product safety testing with the passionate financial support of Pfizer.</p>
         <p><a href="#" title="Learn More about Animal Research Education and Awareness (AREA) Program" class="btn-chev-right">Learn More</a></p>
      </li>
      <li>
         <h4>POE Awards</h4>
         <p>An award to recognize Branch and Individual AALAS members for their public outreach efforts.</p>
         <p><a href="#" title="Learn More about POE Awards" class="btn-chev-right">Learn More</a></p>
      </li>
      <li>
         <h4>AALAS National Meeting</h4>
         <p>Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. </p>
         <p><a href="#" title="Learn More about AALAS National Meeting" class="btn-chev-right">Learn More</a></p>
      </li>
   </ul>
</div>