@use '../abstracts' as *;


footer.site-footer {
    background: white;
    .top-footer {
        border-bottom: 1px solid #DEDEDE;
        padding: 0 15px;
        ul.footer-nav {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 1000px;
            max-width: 100%;
            margin: 20px auto;
            gap: 25px;
            flex-wrap: wrap;
            @include MQ(S) {
                flex-direction: column;
                align-items: center;
            }
            li {
                margin: 0;
                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: black;
                    transition: all .2s ease;
                    text-transform: uppercase;
                    font-weight: 600;
                    &:hover {
                     color: $teal;
                    }
                }
            }
        }
    }
    .main-footer {
        width: 1400px;
        max-width: 100%;
        margin: 25px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 15px;
        gap: 100px;
        @include MQ(S) {
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        a.logo-link {
            width: 250px;
            min-width: 250px;
            max-width: 100%;
            filter: drop-shadow(0 0 0 rgba(black, 0));
            transition: all .2s ease;
            transform: scale(1);
            &:hover {
                filter: drop-shadow(0 5px 8px rgba(black, .15));
                transform: scale(1.05);
            }
        }
        .contact-meta {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0 10px;
            @include MQ(S) {
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 20px;
                margin: 50px 0;
                width: calc(100% - 30px);
            }
            h4 {
                flex-basis: 100%;
                position: relative;
                margin: 0 0 15px;
                @include MQ(S) {
                    width: 100%;
                    margin: 0;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    left: 0;
                    height: 2px;
                    background: linear-gradient(
                        90deg,
                        $green 0%,
                        $blue 100%
                    );
                }
            }
            p {
                flex-basis: 45%;
                margin: 0 0 15px;
                flex-grow: 1;
            }
            a {
                color: black;
                text-decoration: none;
                font-weight: 400;
                display: inline-block;
                transition: all .2s ease;
                &:hover {
                    color: $teal;
                }
            }
        }
        @at-root ul.socials-list {
            display: flex;
            list-style: none;
            margin: 0;
            gap: 25px;
            align-self: center;
            flex-wrap: wrap;
            li {
                margin: 0;
                a {
                    font-size: 0;
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 25px 25px;
                    transition: all .33s ease;
                    filter: drop-shadow(0 0 0 rgba(black, 0));
                    border-radius: 5px;
                    border: 1px solid rgba(black, 0);
                    transform: scale(1);
                    &.icon-fb {
                        background-image: url('../images/icons/icon-fb.svg');
                    }
                    &.icon-tiktok {
                        background-image: url('../images/icons/icon-tiktok.svg');
                    }
                    &.icon-insta {
                        background-image: url('../images/icons/icon-insta.svg');
                    }
                    &.icon-linkedin {
                        background-image: url('../images/icons/icon-linkedin.svg');
                    }
                    &:hover {
                     border: 1px solid rgba(black, 1);
                     filter: drop-shadow(0 5px 8px rgba(black, .25));
                    }
                }
            }
        }
    }
    .bottom-footer {
        background: #F5F5F5;
        padding: 15px;
        .inner-wrapper {
            width: 1450px;
            max-width: 100%;
            gap: 15px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include MQ(S) {
                flex-direction: column;
                align-items: flex-start;
            }
            p {
                margin: 0;
                a {
                    font-weight: 400;
                    color: black;
                    text-decoration: none;
                    &:hover {
                        color: $teal;
                    }
                }
            }
        }
    }
}