@use "../abstracts" as *;

header.scroll-header {
	position: fixed;
	width: 100%;
	z-index: 9;
	top: 0;
	left: 0;
	background: transparent;
	transition: all 0.33s ease;
	@include MQ(tab) {
		height: 80px;
		background: white;
	}
	&.header-hide,
	&.header-show {
		background: white;
		box-shadow: 0 5px 15px -3px rgba(black, 0.15);
	}
	.inner-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 15px;
		width: 1300px;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		gap: 25px;
		@include MQ(tab) {
			padding: 10px 15px;
		}
		a.logo-link {
			display: block;
			width: 160px;
			flex-basis: 160px;
			@include MQ(tab) {
				width: 101px;
				flex-basis: 101px;
			}
		}
		.menu-side {
			flex-basis: calc(100% - 180px);
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@include MQ(S) {
				flex-basis: calc(100% - 200px);
			}
			#mainnav {
				display: flex;
				list-style: none;
				margin: 0;
				gap: 0px;
				align-items: center;
				@include MQ(tab) {
					display: none;
				}
				> li {
					list-style: none;
					margin: 0;
					position: relative;
					a {
						text-decoration: none;
						color: black;
						text-transform: uppercase;
						font-size: 14px;
						font-weight: 600;
						display: inline-block;
						transition: all 0.2s ease;
						padding: 10px 10px;
						&:hover {
							color: $green;
						}
					}
					> a {
						text-align: center;
						letter-spacing: 0.4px;
						padding: 10px;
						@media (max-width: 1200px) {
							padding: 10px 10px;
							letter-spacing: 0px;
						}
						@include MQ(XL) {
							padding: 10px 20px;
						}
					}
					// tier 2
					> ul {
						background: linear-gradient(90deg, #7bbe47 0%, #1bafc1 100%);
						position: absolute;
						right: 0;
						margin: 0;
						border-radius: 4px;
						width: 250px;
						list-style: none;
						pointer-events: none;
						opacity: 0;
						transition: all 0.2s ease;
						&:before {
							content: "";
							position: absolute;
							width: calc(100% - 4px);
							height: calc(100% - 4px);
							left: 2px;
							top: 2px;
							background: white;
						}
						> li {
							position: relative;
							margin: 0;
							background: transparent;
							transition: all 0.33s ease;
							&:first-child {
								border-radius: 4px 4px 0 0;
							}
							&:last-child {
								border-radius: 0 0 4px 4px;
							}
							> a {
								padding: 10px 10px;
								color: black;
								display: block;
								background: transparent;
							}
							// tier 3
							> ul {
								position: absolute;
								right: 100%;
								top: 0;
								background: $green;
								border-radius: 4px 0 0 4px;
								opacity: 0;
								margin: 0;
								pointer-events: none;
								list-style: none;
								width: 200px;
								> li {
									margin: 0;
									transition: all 0.2s ease;
									&:hover {
										background: $blue;
										> a {
											color: black;
										}
									}
								}
							}
							&:hover {
								background: linear-gradient(90deg, $green 0%, $blue 100%);
								> a {
									color: black;
								}
								> ul {
									pointer-events: inherit;
									opacity: 1;
								}
							}
						}
					}
					&:hover {
						> ul {
							opacity: 1;
							pointer-events: inherit;
						}
					}
				}
			}
			button.search-trigger {
				// display: none;
				width: 40px;
				height: 35px;
				background-image: url("../images/icons/icon-search.svg");
				background-size: 25px;
				background-repeat: no-repeat;
				background-position: center;
				margin: 0 15px 0 30px;
				@media (max-width: 1200px) {
					margin-left: 25px;
				}
			}
			a.btn-gradient {
				@include MQ(tab) {
					display: none;
				}
			}
			.hamburger {
				display: none;
				border-radius: 50%;
				width: 54px;
				height: 54px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				background: linear-gradient(90deg, $green 0%, $blue 100%);
            @include MQ(tab) {
					display: flex;
				}
				&__inner {
					width: 25px;
					height: 17px;
					position: relative;
					span {
						height: 2px;
						width: 100%;
						background: black;
						display: block;
						content: "";
						position: absolute;
						left: 50%;
						transform: translate(-50%, -50%) rotate(0deg);
						transition: all 0.33s ease;
						&:nth-child(1) {
							top: 0;
							transition: all 0.2s ease 0s, top 0.2s ease 0.1s,
								width 0.2s ease 0.4s;
						}
						&:nth-child(2) {
							top: 50%;
							transition: all 0.1s ease 0.4s;
						}
						&:nth-child(3) {
							top: 100%;
							transition: all 0.2s ease 0s, top 0.2s ease 0.1s,
								width 0.2s ease 0.4s;
						}
					}
				}
				&.hamburger--active {
					.hamburger__inner {
						span {
							&:nth-child(1) {
								top: 50%;
								transform: translate(-50%, -50%) rotate(45deg);
								width: calc(100% + 15px);
								transition: all 0.2s ease 0.2s, top 0.2s ease 0s,
									width 0.2s ease 0.2s;
							}
							&:nth-child(2) {
								width: 0;
								transition: all 0.2s ease 0s;
							}
							&:nth-child(3) {
								top: 50%;
								width: calc(100% + 15px);
								transform: translate(-50%, -50%) rotate(-45deg);
								transition: all 0.2s ease 0.2s, top 0.2s ease 0s,
									width 0.2s ease 0.2s;
							}
						}
					}
				}
			}
		}
	}
}
