@use '../abstracts' as *;


header.scroll-header {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    background: transparent;
    transition: all .33s ease;
    &.header-hide,
    &.header-show {
        background: white;
        box-shadow: 0 5px 15px -3px rgba(black, .15);
    }
    .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px;
        width: 1300px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 25px;
        a.logo-link {
            display: block;
            width: 160px;
            flex-basis: 160px;
        }
        .menu-side {
            flex-basis: calc(100% - 180px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include MQ(S) {
                flex-basis: calc(100% - 200px);
            }
            #mainnav {
                display: flex;
                list-style: none;
                margin: 0;
                gap: 0px;
                align-items: center;
                @include MQ(tab) {
                    display: none;
                }
                > li {
                    list-style: none;
                    margin: 0;
                    position: relative;
                    a {
                        text-decoration: none;
                        color: black;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        display: inline-block;
                        transition: all .2s ease;
                        padding: 10px 10px;
                        &:hover {
                            color: $green;
                        }
                    }
                    > a {
                        text-align: center;
                        letter-spacing: .4px;
                        padding: 10px;
                        @media (max-width: 1200px) {
                            padding: 10px 10px;
                            letter-spacing: 0px;
                        }
                        @include MQ(XL) {
                            padding: 10px 20px;
                        }
                    }
                    // tier 2
                    > ul {
                        background: linear-gradient(
                            90deg,
                            #7BBE47 0%,
                            #1BAFC1 100%
                        );
                        position: absolute;
                        right: 0;
                        margin: 0;
                        border-radius: 4px;
                        width: 250px;
                        list-style: none;
                        pointer-events: none;
                        opacity: 0;
                        transition: all .2s ease;
                        &:before {
                            content: "";
                            position: absolute;
                            width: calc(100% - 4px);
                            height: calc(100% - 4px);
                            left: 2px;
                            top: 2px;
                            background: white;
                        }
                        > li {
                            position: relative;
                            margin: 0;
                            background: transparent;
                            transition: all .33s ease;
                            &:first-child {
                                border-radius: 4px 4px 0 0;
                            }
                            &:last-child {
                                border-radius: 0 0 4px 4px;
                            }
                            > a {
                                padding: 10px 10px;
                                color: black;
                                display: block;
                                background: transparent;
                            }
                            // tier 3
                            > ul {
                                position: absolute;
                                right: 100%;
                                top: 0;
                                background: $green;
                                border-radius: 4px 0 0 4px;
                                opacity: 0;
                                margin: 0;
                                pointer-events: none;
                                list-style: none;
                                width: 200px;
                                > li {
                                    margin: 0;
                                    transition: all .2s ease;
                                    &:hover {
                                        background: $blue;
                                        > a {
                                            color: black;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                background: linear-gradient(
                                    90deg,
                                    $green 0%,
                                    $blue 100%
                                );
                                > a {
                                    color: black;
                                }
                                > ul {
                                    pointer-events: inherit;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:hover {
                        > ul {
                            opacity: 1;
                            pointer-events: inherit;
                        }
                    }
                }
            }
            button.search-trigger {
                // display: none;
                width: 40px;
                height: 35px;
                background-image: url('images/icons/icon-search.svg');
                background-size: 25px;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 15px 0 30px;
                @media (max-width: 1200px) {
                    margin-left: 25px;
                }
                @include MQ(tab) {
                    display: none;
                }
            }
            a.btn-gradient {
               
                @include MQ(tab) {
                    display: none;
                }
            }
            button.hamburger {
                display: none;
                @include MQ(tab) {
                    display: block;
                }
            }
        }
        
    }
}