@use '../abstracts' as *;

#sidecar {
   z-index: 8;
   position: fixed;
   top: 100%;
   pointer-events: none;
   width: 100%;
   height: calc(100% - 80px);
   transition: all .33s ease;
   display: none;
   background: linear-gradient(
      90deg,
      $green 0%,
      $blue 100%
   );
   @include MQ(tab) {
   display: block;
   }
   &:before {
      border-radius: 4px;
      content: "";
      position: absolute;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      top: 3px;
      left: 3px;
      background: white;
   }
   &.sidecar--active {
      top: 80px;
      pointer-events: inherit;
   }
}