@use '../abstracts' as *;


section.default-hero {
    background: linear-gradient(
        180deg, 
        #F5F5F5 0%, 
         #DAE8EA 100%
    );
    .inner-wrapper {
        width: 1300px;
        max-width: 100%;
        margin: 80px auto 0;
        padding: 80px 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include MQ(S) {
            flex-direction: column-reverse;
            padding-top: 15px;
        }
        h1.page-title {
            margin: 25px 0 30px;
            opacity: 0;
            animation: fadeInLeft 1s ease forwards;
            @include MQ(S) {
                text-align: center;
                animation: fadeInUp 1s ease forwards;
            }
            @include MQ(M) {
               max-width: 40%;
                margin: 0 0 80px;
            }
        }
        .hero-image {
            max-width: 60%;
            margin-bottom: -100px;
            opacity: 0;
            animation: fadeIn 1s ease forwards;
            perspective: 1000px;
            display: inline-block;
            scale: 1;
            transition: all .2s ease;
            @include MQ(S) {
                margin-bottom: 0;
                max-width: 100%;
                width: 100%;
                pointer-events: none;
            }
            img {
               border-radius: 80px;
               width: 620px;
               height: 410px;
                object-fit: cover;
                 transform: translateZ(20px);
               transition: transform .2s ease-out, box-shadow .2s ease-out;
               transform-style: preserve-3d;
               will-change: transform, box-shadow;
            }
            &:hover {
               scale: 1.05;
            }
            &:active {
               scale: .95;
               img {
                  transform: rotateX(0deg) rotateY(0deg)!important;
                  box-shadow: 0 5px 15px -8px rgba(black, .75)!important;
               }
            }
        }
    }
}


section#breadcrumbs {
    .inner-wrapper {
        width: 1375px;
        max-width: 100%;
        padding: 0 15px;
        margin: 15px auto 50px;
        @include MQ(S) {
         margin: 15px auto;
        }
        
         ul.breadcrumbs-list {
            display: flex;
            list-style: none;
             flex-wrap: wrap;
            margin: 0;
            @include MQ(M) {
                max-width: 45%;
            }
            li {
                margin: 0;
                display: flex;
                &:not(:last-child) {
                    &:after {
                        content: "//";
                        margin: 0 5px;
                        color: $blue;
                        
                    }
                }
                a {
                    font-size: 15px;
                    font-weight: 300;
                    text-decoration: none;
                    transition: all .2s ease;
                    text-transform: lowercase;
                    &[href*="index"] {
                        font-size: 0;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url('../images/icons/icon-home.svg') center no-repeat;
                        background-size: 15px;
                        filter: brightness(100%);
                        &:hover {
                            filter: brightness(0%);
                        }
                    }
                    &:not(.current-page) {
                        color: $blue;
                        &:hover {
                            color: black;
                        }
                    }
                    &.current-page {
                        pointer-events: none;
                        color: black;
                    }
                }
            }
        }
    }
   
}


section#default-main {
   position: relative;
    > .inner-wrapper {
        width: 1375px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        padding: 75px 15px 40px;
        @include MQ(S) {
         padding-top: 25px;
        }
    }
}