@use '../abstracts' as *;


ul.events-list {
	display: flex;
	flex-wrap: wrap;
	gap: 00px;
	list-style: none;
	li {
		margin: 0 0 40px;
		flex-basis: 100%;
		@include MQ(S) {
			padding-bottom: 20px;
			&:not(:last-child) {
				border-bottom: 1px solid black;
			}
		}
		@include MQ(M) {
			flex-basis: calc(50% - 0px);
			padding: 0 20px;
		}
		@media (min-width: 768px) and (max-width: 1023px) {
			&:nth-child(odd):not(:last-child) {
				border-right: 1px solid black;
			}
		}
		@include MQ(L) {
			flex-basis: calc((100% / 3) - 0px);
			padding: 0 25px;
			&:not(:first-child):not(:nth-child(3n + 4)) {
				border-left: 1px solid black;
			}
		}

		.image-and-category {
			p {
				text-align: center;
				margin: 0;
				position: relative;
				z-index: 1;
				span {
					padding: 4px 15px;
					display: inline-block;
					background: $blue;
					font-weight: 500;
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: 0.5px;
					border-radius: 6px;
				}
			}
			a.image-link {
				position: relative;
				display: flex;
				min-height: 230px;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				flex-direction: column;
				.lazybg {
					position: absolute;
					width: 100%;
					height: calc(100% + 14px);
					bottom: 0;
					left: 0;
					border-radius: 40px;
					overflow: hidden;
					transform: scale(1);
					transition: all 0.2s ease;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(black, 0.57);
						transition: all 0.2s ease;
						opacity: 1;
					}
				}
				span {
					line-height: 1;
					color: white;
					text-align: center;
					width: 100%;
					position: relative;
					display: block;
					bottom: 0;
					transition: all 0.2s ease;
					opacity: 1;
					&.event-month {
						font-size: 45px;
						font-weight: 600;
						line-height: 1;
					}
					&.event-day {
						font-size: 70px;
						font-weight: 600;
					}
					&.event-year {
						font-size: 30px;
						font-weight: 600;
					}
				}
				&:hover {
					.lazybg {
						transform: scale(1.05);
						&:before {
							opacity: 0.3;
						}
					}
					span {
						bottom: -15px;
						opacity: 0.35;
					}
				}
			}
		}
		h6 {
			a {
				text-decoration: none;
				color: black;
				transition: all 0.2s ease;
				font-weight: 500;
				&:hover {
					color: $teal;
				}
			}
		}
		p {
			&:last-child {
				margin: 0;
				a {
					margin: 0;
				}
			}
		}
	}
}
