@use '../abstracts' as *;

section#home-hero {
    .inner-wrapper {
        width: 1400px;
        margin: 0 auto;
        max-width: 100%;
        padding: 120px 15px 15px;
    }
}


.home-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px 45px;
    @include MQ(S) {
        flex-direction: column-reverse;
    }
    .copy-side {
        flex-basis: 50%;
        opacity: 0;
        animation: fadeInLeft 1s ease forwards;
        @include MQ(S) {
            text-align: center;
        }
    }
    .image-side {
        opacity: 0;
        animation: fadeIn 1s ease .33s forwards;
        flex-basis: 45%;
        aspect-ratio: 1 / 1;
        border-radius: 80px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
