@use '../abstracts' as *;

section#home-hero {
    .inner-wrapper {
        width: 1400px;
        margin: 0 auto;
        max-width: 100%;
        padding: 120px 15px 15px;
    }
}

section#home-main {
    > .inner-wrapper {
        width: 1400px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}


.home-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px 45px;
    @include MQ(S) {
        flex-direction: column-reverse;
    }
    .copy-side {
        flex-basis: 50%;
        opacity: 0;
        animation: fadeInLeft 1s ease forwards;
        @include MQ(S) {
            text-align: center;
        }
    }
    .image-side {
        opacity: 0;
        animation: fadeIn 1s ease .33s forwards;
        flex-basis: 45%;
        aspect-ratio: 1 / 1;
        border-radius: 80px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



.home-our-mission {
    position: relative;
    padding: 150px 0 100px;
    .background-video {
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        margin-left: -15px;
        overflow: hidden;
        @media (min-width: 1415px) {
            margin-left: calc((100vw - 1370px) / -2);
        }
        &:before {
            background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0.00) 100%);
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            height: 100px;
            width: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 150px;
            width: 100%;
            background: linear-gradient(0deg, #DAE8EA 0%, rgba(218, 232, 234, 0.00) 100%);
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .text-content {
        position: relative;
        text-align: center;
        max-width: 850px;
        margin: 0 auto;
    }
}

