@use "../abstracts" as *;

ul.news-updates-entries-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0px;
	list-style: none;
	li {
		margin: 0 0 40px;
		flex-basis: 100%;
		@include MQ(S) {
			padding-bottom: 20px;
			&:not(:last-child) {
				border-bottom: 1px solid black;
			}
		}
		@include MQ(M) {
			flex-basis: calc(50% - 0px);
			padding: 0 20px;
		}
		@media (min-width: 768px) and (max-width: 1023px) {
			&:nth-child(odd):not(:last-child) {
				border-right: 1px solid black;
			}
		}
		@include MQ(L) {
			flex-basis: calc((100% / 3) - 0px);
			padding: 0 25px;
			&:not(:first-child):not(:nth-child(3n + 4)) {
				border-left: 1px solid black;
			}
		}
		.image-link {
			border: 1px solid black;
			display: block;
			position: relative;
			height: 250px;
			border-radius: 40px;
			overflow: hidden;
			transition: all 0.2s ease;
			@include MQ(S) {
				height: 200px;
			}
			img {
				object-position: center;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(1);
				transition: all 0.2s ease;
			}
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		.post-date {
			margin: 10px 0 0;
			text-transform: uppercase;
			color: $teal;
			strong {
				font-weight: 500;
			}
		}
		h6 {
			margin: 0 0 10px;
			a {
				text-decoration: none;
				color: black;
				transition: all 0.2s ease;
				font-weight: 500;
				&:hover {
					color: $teal;
				}
			}
		}
		p {
			&:last-child {
				margin: 0;
				a {
					margin: 0;
				}
			}
		}
	}
}

.news-updates-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include MQ(S) {
		gap: 40px 25px;
	}
	> a {
		margin: 0;
		@include MQ(S) {
			order: 2;
		}
      &[disabled] {
         pointer-events: none;
         opacity: 0.5;
      }
	}
	ul.pager-list {
		display: flex;
		list-style: none;
		margin: 0;
		gap: 4px;
		flex-wrap: wrap;
		position: relative;
		@include MQ(M) {
			bottom: -9px;
		}
		@include MQ(S) {
			order: 1;
			width: 100%;
			text-align: center;
			justify-content: center;
		}
		li {
			margin: 0;
			a {
				text-decoration: none;
				color: black;
				transition: all 0.2s ease;
				display: inline-block;
				padding: 2px 5px;
				&.current-page {
					color: $teal;
					font-weight: 800;
				}
				&:hover {
					color: $teal;
				}
			}
		}
	}
}
