

ul.sitemap-list {
    li {
        > a {
            display: inline-block;
            position: relative;
            font-weight: 500!important;
            &:hover {
                color: black!important;
            }
            &:visited {
                border: 1px dashed black;
            }
            
        }
        &.red > a {
            color: rgb(228,46,46);
        }
        &.yellow >a {
            color: rgb(173,173,14);
        }
        &.green > a {
            color: green;
        }
        &.red::marker {
            color: rgb(228,46,46);
        }
        &.yellow::marker {
            color: rgb(173,173,14);
        }
        &.green::marker {
            color: green;
        }
    }
}