@use "../abstracts" as *;

body.volunteer {
	#default-main {
		position: relative;
		#particles-js {
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0.3;
		}
	}

	ul.portals-list {
		justify-content: center;
		li:last-child {
			display: none;
		}
	}
}

.pp-volunteer-cards {
	margin: 40px 0 150px;
	ul.cards-list {
		list-style: none;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		@include MQ(M) {
			gap: 20px;
		}
		li {
			margin: 0;
			height: auto;
			flex-basis: 100%;
			@include MQ(M) {
				flex-basis: calc(50% - 10px);
			}
			@include MQ(L) {
				flex-basis: calc(25% - 15px);
			}
			a {
				position: relative;
				bottom: 0;
				transition: all 0.33s ease;
				height: 100%;
				display: flex;
				flex-direction: column;
				border-radius: 40px;
				padding: 25px;
				min-height: 280px;
				box-shadow: 0 10px 15px -5px rgba(black, 0);
				@include MQ(S) {
					justify-content: center;
					min-height: 200px;
				}
				h4 {
					color: black;
					position: relative;
					@include MQ(S) {
						width: calc(100% - 50px);
					}
					&:after {
						content: "";
						position: absolute;
						top: calc(100% + 15px);
						left: 0;
						width: 90px;
						height: 2px;
						transition: all 0.33s ease;
					}
				}
				span {
					text-align: right;
					display: block;
					margin-top: auto;
					position: absolute;

					@include MQ(S) {
						right: 15px;
						top: 50%;
						transform: translateY(-50%);
					}
					@include MQ(M) {
						right: 20px;
						bottom: 20px;
					}
				}
				&:hover {
					bottom: 5px;
					box-shadow: 0 18px 25px -13px rgba(black, 0.25);
					h4 {
						&:after {
							width: 100%;
						}
					}
					span:before {
						animation: btnChevCircleR 1s ease infinite;
					}
				}
			}
			&:nth-child(4n + 1) a {
				background-color: $blue;
				h4 {
					&:after {
						background: #007886;
					}
				}
			}
			&:nth-child(4n + 2) a {
				background-color: $blue3;
				h4 {
					&:after {
						background: #1bafc1;
					}
				}
			}
			&:nth-child(4n + 3) a {
				background-color: $green;
				h4 {
					&:after {
						background: #dae8ea;
					}
				}
			}
			&:nth-child(4n + 4) a {
				background-color: $teal;
				h4 {
					color: white;
					&:after {
						background: #7bbe47;
					}
				}
			}
		}
	}
}
