@use '../abstracts' as *;

@mixin button-styles {
//   align-items: center;
//   appearance: none;
//   background-color: $color-text;
//   border: none;
//   border-radius: 2.4rem;
//   color: $color-white;
//   cursor: pointer;
//   display: inline-flex;
//   font-family: $font-sans-serif;
//   font-size: 1.6rem;
//   font-weight: 700;
//   gap: 1.2rem;
//   line-height: 1;
//   margin: 0;
//   padding: 1.2rem 2.4rem;
//   position: relative;
//   text-align: center;
//   text-decoration: none;
//   transition: background-color $transition-duration-f;
//   white-space: nowrap;

  &:hover {
   //  background-color: $color-black;
  }

  .icon {
   //  fill: $color-white;
   //  height: 2.4rem;
   //  margin: -0.4rem 0;
   //  margin: -0.4rem -0.8rem -0.4rem 0;
   //  width: 2.4rem;
  }
}

.btn-gradient {
   display: inline-block;
   position: relative;
   padding: 14px 30px;
   overflow: hidden;
   text-decoration: none;
   border-radius: 4px;
   color: black;
   font-weight: 500;
   z-index: 1;
   font-size: 14px;
   transition: all .33s ease;
   line-height: 1.4;
   letter-spacing: .4px;
   border: 1px solid rgba(black, 0);
   margin: 0 15px 15px 0;
   &:before {
      z-index: -1;
      top: 0;
      left: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all .66s ease;
      background: linear-gradient(
         90deg,
         $green 0%,
         $blue 50%,
         $green 100%
      );
      background-size: 200%;
      background-position: 0% center;
   }
   &:hover {
      border-color: rgba(black, 1);
      color: black;
      &:before {
         background-position: 100% center;
      }
   }
}


.btn-blue {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background: $blue2;
    color: black;
    overflow: hidden;
    font-size: 14px;
    padding: 14px 25px;
    font-weight: 600;
    letter-spacing: .5px;
    transition: all .2s ease;
    border-radius: 2px;
    box-shadow: 0 8px 15px -4px rgba(black, .35);
    margin: 0 15px 15px 0;
    &:hover {
        background: white;
        box-shadow: 0 10px 18px -5px rgba(black, .2);
    }
    &:active {
        background: #f1f1f1;
        box-shadow: 0 2px 4px -1px rgba(black, .6);
    }
}


.btn-chev-right {
    display: inline-block;
    position: relative;
    text-decoration: none;
    letter-spacing: .9px;
    text-transform: uppercase;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    padding: 14px 30px 14px 5px;
    color: black;
    position: relative;
    background-image: url('../images/icons/icon-chev-right.svg');
    background-repeat: no-repeat;
   //  line-height: 1;
    background-position: calc(100% - 10px) center;
    background-size: 6px;
    transition: all .33s ease;
    filter: drop-shadow(0 3px 5px rgba(black, 0));
    margin: 0 15px 15px 0;
    &:hover {
        animation: btnChevRight 1s ease infinite;
        filter: drop-shadow(0 3px 5px rgba(black, .35));
    }
}

.btn-chev-circle-l {
    font-size: 0;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 45px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0 1px 3px rgba(black, .0));
    transition: all .33s ease;
   //  margin: 0 15px 15px 0;
    &:before {
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../images/icons/icon-chev-left.svg');
        background-size: 9px;
        background-repeat: no-repeat;
        background-position: 45% center;
        
    }
    &:hover {
       filter: drop-shadow(0 4px 5px rgba(black, .45));
        &:before {
             animation: btnChevCircleL 1s ease infinite;
        }
    }
    &:active {
        transform: scale(.95);
        filter: drop-shadow(0 2px 4px rgba(black, .75));
    }
}


.btn-chev-circle-r {
    font-size: 0;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 45px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0 1px 3px rgba(black, .0));
    transition: all .33s ease;
   //  margin: 0 15px 15px 0;
    &:before {
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../images/icons/icon-chev-right.svg');
        background-size: 9px;
        background-repeat: no-repeat;
        background-position: 55% center;
        
    }
    &:hover {
       filter: drop-shadow(0 4px 5px rgba(black, .45));
        &:before {
             animation: btnChevCircleR 1s ease infinite;
        }
    }
    &:active {
        transform: scale(.95);
        filter: drop-shadow(0 2px 4px rgba(black, .75));
    }
}


.btn-download {
    display: inline-block;
    background: white;
    padding: 14px 70px 14px 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    border-radius: 100px;
    transition: all .33s ease;
    border: 2px solid rgba(black, 0);
    box-shadow: 0 4px 7px -2px rgba(black, 0);
    &:after {
        content: "";
        position: absolute;
        background-image: url('../images/icons/icon-download.svg');
        width: 35px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) scale(1);
        border: 2px solid black;
        transition: all .2s ease;
        border-radius: 50%;
        height: 35px;
        background-size: 15px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover {
        box-shadow: 0 10px 15px -4px rgba(black, .25);
        background: white;
        border-color: black;
        &:after {
            scale: 1.05;
            transform: translateY(-50%) scale(1.1);
        }
    }
}


.button {
  @include button-styles;

  &--white {
   //  background-color: $color-white;
   //  color: $color-black;

    &:hover {
      // color: $color-white;
    }
  }
}


/* Styled Link */

@mixin block-link-styles {
//   align-items: center;
//   appearance: none;
//   color: $color-black;
//   cursor: pointer;
//   display: inline-flex;
//   font-family: $font-sans-serif;
//   font-size: 1.6rem;
//   font-weight: 700;
//   line-height: 1;
//   position: relative;
//   text-align: center;
//   text-decoration: none;
//   transition: color $transition-duration-f;
//   white-space: nowrap;

//   &::after {
//     background: url('../images/icons/arrow_right.svg') center/contain no-repeat;
//     content: '';
//     display: block;
//     height: 1.6rem;
//     margin-left: 0.8rem;
//     transition: margin $transition-duration-f ease;
//     width: 1.6rem;
//   }

//   &:hover::after {
//     margin-left: 1.6rem;
//   }
}

.block-link {
  @include block-link-styles;
}


/* Button Group */

.button-group {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1.6rem;
//   margin: 0 0 2.4rem;

  &--centered {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--full-on-mobile {
    .button {
      // @include bp-md-max {
      //   width: 100%;
      // }
    }
  }

  .button {
    margin: 0;
  }
}
