@use '../abstracts' as *;

@mixin button-styles {
//   align-items: center;
//   appearance: none;
//   background-color: $color-text;
//   border: none;
//   border-radius: 2.4rem;
//   color: $color-white;
//   cursor: pointer;
//   display: inline-flex;
//   font-family: $font-sans-serif;
//   font-size: 1.6rem;
//   font-weight: 700;
//   gap: 1.2rem;
//   line-height: 1;
//   margin: 0;
//   padding: 1.2rem 2.4rem;
//   position: relative;
//   text-align: center;
//   text-decoration: none;
//   transition: background-color $transition-duration-f;
//   white-space: nowrap;

  &:hover {
   //  background-color: $color-black;
  }

  .icon {
   //  fill: $color-white;
   //  height: 2.4rem;
   //  margin: -0.4rem 0;
   //  margin: -0.4rem -0.8rem -0.4rem 0;
   //  width: 2.4rem;
  }
}

.btn-gradient {
   display: inline-block;
   position: relative;
   padding: 14px 30px;
   overflow: hidden;
   text-decoration: none;
   border-radius: 4px;
   color: black;
   font-weight: 500;
   z-index: 1;
   font-size: 14px;
   transition: all .33s ease;
   line-height: 1.4;
   letter-spacing: .4px;
   border: 1px solid rgba(black, 0);
   &:before {
      z-index: -1;
      top: 0;
      left: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all .66s ease;
      background: linear-gradient(
         90deg,
         $green 0%,
         $blue 50%,
         $green 100%
      );
      background-size: 200%;
      background-position: 0% center;
   }
   &:hover {
      border-color: rgba(black, 1);
      color: black;
      &:before {
         background-position: 100% center;
      }
   }
}

.button {
  @include button-styles;

  &--white {
   //  background-color: $color-white;
   //  color: $color-black;

    &:hover {
      // color: $color-white;
    }
  }
}


/* Styled Link */

@mixin block-link-styles {
//   align-items: center;
//   appearance: none;
//   color: $color-black;
//   cursor: pointer;
//   display: inline-flex;
//   font-family: $font-sans-serif;
//   font-size: 1.6rem;
//   font-weight: 700;
//   line-height: 1;
//   position: relative;
//   text-align: center;
//   text-decoration: none;
//   transition: color $transition-duration-f;
//   white-space: nowrap;

//   &::after {
//     background: url('../images/icons/arrow_right.svg') center/contain no-repeat;
//     content: '';
//     display: block;
//     height: 1.6rem;
//     margin-left: 0.8rem;
//     transition: margin $transition-duration-f ease;
//     width: 1.6rem;
//   }

//   &:hover::after {
//     margin-left: 1.6rem;
//   }
}

.block-link {
  @include block-link-styles;
}


/* Button Group */

.button-group {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1.6rem;
//   margin: 0 0 2.4rem;

  &--centered {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--full-on-mobile {
    .button {
      // @include bp-md-max {
      //   width: 100%;
      // }
    }
  }

  .button {
    margin: 0;
  }
}
