@use '../abstracts' as *;

/* General Page Structure */

html,
body {
  max-width: 100%;
  position: relative;
}

body.locked {
  overflow: hidden;
}

.page-overlay {
  background-color: $color-black;
  height: 100vh;
  opacity: 0;
  position: fixed;
  transition: opacity $transition-duration-f;
  visibility: hidden;
  width: 100vw;
  z-index: 1000;

  &--active {
    opacity: 0.9;
    visibility: visible;
  }
}

.page-wrap {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.content-block {
//   margin-bottom: clamp-min-max(4, 6.4, $bp-xs, $bp-lg);
}


.flex-split {
    display: flex;
    justify-content: space-between;
    gap: 40px 25px;
    @include MQ(S) {
        flex-direction: column-reverse;
    }
    .image-side {
        flex-basis: 45%;
        overflow: hidden;
        border-radius: 40px;
        @include MQ(S) {
            flex-basis: 100%;
            min-height: 200px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .copy-side {
        flex-basis: 50%;
    }
}