<div class="pp-stats-grid">
   <div class="copy">
      <h2>It Costs, at Least...</h2>
      <p><a href="#" class="btn-gradient" title="donate now">DONATE NOW</a></p>
   </div>
   <ul class="stats-blurb-list animate-in">
      <li class="single-stat bg-green">
         <span class="icon-dna"></span>
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-1" data-stat-start="0" data-stat-end="100">100</span>k to <span class="stat-number" id="stat-2" data-stat-start="0" data-stat-end="150">150</span>k</h3>
            <p>to develop engaging educational applications, such as websites, mobile and online games for students.</p>
         </div>
      </li>
      <li class="single-stat bg-teal">
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-3" data-stat-start="0" data-stat-end="6000">6,000</span></h3>
            <p>to attend and exhibit at ONE teacher or student national educational conference.</p>
         </div>
      </li>
      <li class="single-stat">
         <div class="lazybg" data-src="../images/stat-img-1-websafe-sm.jpg"></div>
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-4" data-stat-start="50000" data-stat-end="15000">15,000</span></h3>
            <p>annually to develop, print, and ship free public outreach materials to teachers/students and AALAS members.</p>
         </div>
      </li>
      <li class="single-stat bg-blue3">
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-5" data-stat-start="15000" data-stat-end="10000">10,000</span></h3>
            <p>a year to provide career videos and information packets to students and teachers.</p>
         </div>
      </li>
      <li class="single-stat bg-blue">
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-6" data-stat-start="100" data-stat-end="55">55</span>k - <span class="stat-number" id="stat-7" data-stat-start="150" data-stat-end="75">100</span>k</h3>
            <p>to produce educational videos for students.</p>
         </div>
      </li>
      <li class="single-stat">
         <div class="lazybg" data-src="../images/stat-img-2-websafe-sm.jpg"></div>
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-8" data-stat-start="25000" data-stat-end="12500">12,500</span></h3>
            <p>annually to conduct an AREA Program for students at the National Meeting.</p>
         </div>
      </li>
      <li class="single-stat bg-green">
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-9" data-stat-start="0" data-stat-end="5000">5000</span></h3>
            <p>to conduct and award prizes for the annual Celebrate the Mouse video essay contest for students.</p>
         </div>
      </li>
      <li class="single-stat bg-blue">
         <span class="icon-atom"></span>
         <div class="meta-wrapper">
            <h3 class="stat-title">$<span class="stat-number" id="stat-10" data-stat-start="25000" data-stat-end="15000">15000</span></h3>
            <p>to conduct an ANN Turner CARE Academy public outreach training program.</p>
         </div>
      </li>
      
   </ul>
</div>