<div class="pp-50-split animate-in" data-layout="image-copy">
   <div class="image-side">
      <img src="images/contact-50-split-websafe-sm.jpg" alt="doctor taking notes">
   </div>
   <div class="copy-side text-content">
      <h2>AALAS Foundation</h2>
      <h6>
         <a href="http://maps.app.goo.gl/uL66GfeW6QzrfUBs5" target="_blank" title="Google Maps link">9190 Crestwyn Hills Drive, Memphis, TN 38125</a> 
         <br>Phone: <a href="tel:901.754.8620" title="Call Us" target="_blank">901.754.8620</a> 
         <br>Fax: 901.753.0046 
         <br>Email: <a href="mailto:foundation@aalas.org" title="Email Us" target="_blank">foundation@aalas.org</a>
      </h6>
      <ul class="socials-list">
         <li><a href="//www.facebook.com/aalasfoundation" target="_blank" class="icon-fb" title="Follow us on Facebook">Facebook</a></li>
         <li><a href="#" title="Follow us on TikTok" target="_blank" class="icon-tiktok">TikTok</a></li>
         <li><a href="#" title="Follow us on Instagram" target="_blank" class="icon-insta">Instagram</a></li>
         <li><a href="#" title="Follow us on LinkedIn" target="_blank" class="icon-linkedin">LinkedIn</a></li>
      </ul>
   </div>
</div>