<ul class="events-list">
   <li>
      <div class="image-and-category">
         <p><span>National Meeting Event</span></p>
         <a href="#" class="image-link">
            <div class="lazybg" data-src="images/event-1.jpg"></div>
            <span class="event-month">JUN</span>
            <span class="event-day">24</span>
            <span class="event-year">2025</span>
         </a>
      </div>
      <h6><a href="#">AALAS Foundation 2025 Live and Silent Auction</a></h6>
      <p>Are you looking for a way to advance biomedical research and gain valuable exposure for your organization? The AALAS Foundation is holding its Silent Auction at the 76th Annual AALAS National Meeting.</p>
      <p><a href="#" class="btn-chev-right">LEARN MORE</a></p>
   </li>
   <li>
      <div class="image-and-category">
         <p><span>National Meeting Event</span></p>
         <a href="#" class="image-link">
            <div class="lazybg" data-src="images/event-2.jpg"></div>
            <span class="event-month">JUN</span>
            <span class="event-day">24</span>
            <span class="event-year">2025</span>
         </a>
      </div>
      <h6><a href="#">AALAS Foundation "Swimming for Science" Contest</a></h6>
      <p>Gather up your paint brushes! The AALAS Foundation "Swimming for Science" contest is on at the 2025 in Long Beach, California!</p>
      <p><a href="#" class="btn-chev-right">LEARN MORE</a></p>
   </li>
   <li>
      <div class="image-and-category">
         <p><span>National Meeting Event</span></p>
         <a href="./news-updates-post.html" class="image-link">
            <div class="lazybg" data-src="images/event-3.jpg"></div>
            <span class="event-month">NOV</span>
            <span class="event-day">05</span>
            <span class="event-year">2025</span>
         </a>
      </div>
      <h6><a href="./news-updates-post.html">2025 Appreciation Reception & Live Auction</a></h6>
      <p>Join us for a celebration of our benefactors and volunteers who generously support the AALAS Foundation!</p>
      <p><a href="#" class="btn-chev-right">LEARN MORE</a></p>
   </li>
   <li>
      <div class="image-and-category">
         <p><span>Annual Conferences with AALAS Exhibits</span></p>
         <a href="#" class="image-link">
            <div class="lazybg" data-src="images/event-4.jpg"></div>
            <span class="event-month">NOV</span>
            <span class="event-day">12-15</span>
            <span class="event-year">2025</span>
         </a>
      </div>
      <h6><a href="#">NSTA - National Science Teaching Association</a></h6>
      <p><a href="#" class="btn-chev-right">LEARN MORE</a></p>
   </li>
   <li>
      <div class="image-and-category">
         <p><span>Annual Conferences with AALAS Exhibits</span></p>
         <a href="#" class="image-link">
            <div class="lazybg" data-src="images/event-5.jpg"></div>
            <span class="event-month">NOV</span>
            <span class="event-day">15-19</span>
            <span class="event-year">2025</span>
         </a>
      </div>
      <h6><a href="#">SfN - Society for Neuroscience</a></h6>
      <p><a href="#" class="btn-chev-right">LEARN MORE</a></p>
   </li>
   <li>
      <div class="image-and-category">
         <p><span>Annual Conferences with AALAS Exhibits</span></p>
         <a href="#" class="image-link">
            <div class="lazybg" data-src="images/event-6.jpg"></div>
            <span class="event-month">OCT</span>
            <span class="event-day">21-24</span>
            <span class="event-year">2026</span>
         </a>
      </div>
      <h6><a href="#">FFA - Future Farmers of America</a></h6>
      <p><a href="#" class="btn-chev-right">LEARN MORE</a></p>
   </li>
</ul>