<section class="research-stats animate-in">
   <!-- Top static content -->
   <div class="research-stats-header">
      <div id="particles-js"></div>
      <div class="inner-wrapper">
         <h2>Help Us Create a Caring World of Meaningful Research</h2>
         <p>The AALAS Foundation supports educational outreach on the essential role of responsible laboratory animal
            care and use in science to advance human and animal health.</p>
         <p>&nbsp;</p>
         <p><a href="#" class="btn-white" title="Donate to AALAS Foundation">Donate</a></p>

      </div>

   </div>

   <!-- Cards -->
   <ul class="cards-list">
      <li class="card">
         <div class="image-wrapper">
            <img data-src="images/hero-contact-websafe-m.jpg"
               alt="Rats & Mice, Fish, Birds, Insects & Invertebrates used in medical research" class="lazyimg">
         </div>
         <h3 class="stat-title"><span class="stat-number" id="stat-1" data-stat-start="0" data-stat-end="20">20</span>M
         </h3>
         <p>Rats & Mice, Fish, Birds, Insects & Invertebrates used in medical research</p>
      </li>

      <li class="card">
         <div class="image-wrapper">
            <img data-src="images/portal-3-websafe-xs.jpg" alt="Donec ullamcorper nulla non metus auctor fringilla."
               class="lazyimg">
         </div>
         <h3 class="stat-title"><span class="stat-number" id="stat-2" data-stat-start="0"
               data-stat-end="4000">4,000</span></h3>
         <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
      </li>

      <li class="card">
         <div class="image-wrapper">
            <img data-src="images/portal-2-websafe-xs.jpg" alt="Maecenas faucibus mollis interdum." class="lazyimg">
         </div>
         <h3 class="stat-title"><span class="stat-number" id="stat-3" data-stat-start="0" data-stat-end="50">50</span>k
         </h3>
         <p>Maecenas faucibus mollis interdum.</p>
      </li>

      <li class="card">
         <div class="image-wrapper">
            <img data-src="images/portal-1-websafe-xs.jpg"
               alt="Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
               class="lazyimg">
         </div>
         <h3 class="stat-title"><span class="stat-number" id="stat-4" data-stat-start="0" data-stat-end="15">15</span>
         </h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </li>
   </ul>
</section>