<div class="pp-resource-links animate-in">
   <div class="section-copy text-content">
      <h2 style="text-align: center;">Resources</h2>
   </div>
   <ul class="resource-list">
      <li><a href="#" title="Kids, Teachers, & Parents">Kids, Teachers, & Parents <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="Speaking Honestly: Animal Research Education">Speaking Honestly: Animal Research Education <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="Kids4Research">Kids4Research <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="Laboratory Animal Science Professionals">Laboratory Animal Science Professionals <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="Online Videos">Online Videos <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="How You Can Help">How You Can Help <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="School Resources Library">School Resources Library <span class="btn-chev-circle-r"></span></a></li>
      <li><a href="#" title="Order Free Materials">Order Free Materials <span class="btn-chev-circle-r"></span></a></li>
   </ul>

</div>