<div class="pp-home-updates animate-in">
   <div class="section-copy">
      <div class="text-content">
         <h2>Updates</h2>
         <p>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem.</p>
      </div>
      <div class="text-content desktop-only">
         <p><a href="./news-updates.html" title="All Updates" class="btn-gradient">All Updates</a></p>
      </div>
   </div>
   <ul class="updates-list">
      <li>
         <a href="./news-updates-post.html" class="image-link" title="AALAS Foundation 2025 Live and Silent Auction">
            <img src="images/hero-standard-default-websafe-M.jpg" alt="Silent Auction">
         </a>
         <p class="post-date"><strong>Jun 24, 2025</strong></p>
         <h6><a href="./news-updates-post.html" title="AALAS Foundation 2025 Live and Silent Auction">AALAS Foundation 2025 Live and Silent Auction</a></h6>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <ul class="simple-list">
            <li>
               <p class="post-date"><strong>Jun 22, 2025</strong></p>
               <h6><a href="./news-updates-post.html" title='AALAS Foundation "Swimming for Science" Contest'>AALAS Foundation “Swimming for Science” Contest</a></h6>
               <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
            </li>
            <li>
               <p class="post-date"><strong>Jun 20, 2025</strong></p>
               <h6><a href="./news-updates-post.html" title='Lorem ipsum dolor sit amet, consectetur adipiscing'>Lorem ipsum dolor sit amet, consectetur adipiscing</a></h6>
               <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
            </li>
            <li>
               <p class="post-date"><strong>Jun 15, 2025</strong></p>
               <h6><a href="./news-updates-post.html" title='Quisque a sodales felis, ut sagittis turpis'>Quisque a sodales felis, ut sagittis turpis</a></h6>
               <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
            </li>
         </ul>
      </li>
      
   </ul>
   <p class="mobile-only" style="text-align: center;">
      <a href="./news-updates.html" title="All Updates" class="btn-gradient">All Updates</a>
   </p>
</div>