<div class="news-updates-post-sponsors animate-in">
   <span class="icon-dna"></span>
   <span class="icon-atom"></span>
   <div class="inner-wrapper invert">
      <h2>AALAS Foundation appreciates all of the following sponsors of this event</h2>
      <ul class="sponsors-list">
         <li>
            <h3>$10,000</h3>
            <p>LEVEL SPONSORS</p>
            <ul>
               <li>Gruenberg - Dry Heat Sterilizers</li>
               <li>Quip Laboratories</li>
            </ul>
         </li>
         <li>
            <h3>$2,000</h3>
            <p>LEVEL SPONSORS</p>
            <ul>
               <li>Research Triangle Branch</li>
               <li>Texas Branch</li>
            </ul>
         </li>
         <li>
            <h3>$1,000</h3>
            <p>LEVEL SPONSORS</p>
            <ul>
               <li>AAALAC International</li>
               <li>Animal Care Systems</li>
               <li>ARES Scientific</li>
               <li>Innovive</li>
               <li>Pharmacal</li>
            </ul>
         </li>
      </ul>
   </div>
</div>