<div class="news-updates-entries">
   <ul class="news-updates-entries-list">
      <li>
         <a href="#" class="image-link" title="$25 on the 25th">
            <img data-src="images/entry1.png" alt="AALAS Foundation Campaign image" class="lazyimg">
         </a>
         <p class="post-date"><strong>JAN 11, 2024</strong></p>
         <h6><a href="#" title="">$25 on the 25th</a></h6>
         <p>The AALAS Foundation is thrilled to celebrate our 25th "Silver Jubilee" anniversary with a new "Speak Up & Reach Out" initiative.</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="2023 AALAS Foundation Appreciation Reception & Live Auction">
            <img data-src="images/entry2.png" alt="2023 AALAS Foundation Appreciation Reception & Live Auction image" class="lazyimg">
         </a>
         <p class="post-date"><strong>SEP 06, 2023</strong></p>
         <h6><a href="#" title="2023 AALAS Foundation Appreciation Reception & Live Auction">2023 AALAS Foundation Appreciation Reception & Live Auction</a></h6>
         <p>Join us for a celebration of our benefactors and volunteers who generously support the AALAS Foundation!</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="2023 Celebrate the Mouse Video Essay Contest">
            <img data-src="images/entry3.png" alt="2023 Celebrate the Mouse Video Essay Contest image" class="lazyimg">
         </a>
         <p class="post-date"><strong>AUG 29, 2023</strong></p>
         <h6><a href="#" title="2023 Celebrate the Mouse Video Essay Contest">2023 Celebrate the Mouse Video Essay Contest</a></h6>
         <p>How Has a Mouse Helped You - Or Someone You Know? National Student Biomedical Research Competition</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="Saddle Up for Research">
            <img data-src="images/entry4.png" alt="Saddle Up for Research" class="lazyimg">
         </a>
         <p class="post-date"><strong>SEP 06, 2023</strong></p>
         <h6><a href="#" title="Saddle Up for Research">Saddle Up for Research</a></h6>
         <p>Help create awareness about the important work being done by caring professionals in laboratory animal science. Purchase a shirt for yourself and/or a colleague and help be part of our 2023 campaign to spread the word about how the amazing professionals in LAS are advancing medical progress.</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="Boot Up for Research">
            <img data-src="images/entry5.png" alt="Boot Up for Research image" class="lazyimg">
         </a>
         <p class="post-date"><strong>JUL 05, 2023</strong></p>
         <h6><a href="#" title="Boot Up for Research">Boot Up for Research</a></h6>
         <p>Gather up your paint brushes! The AALAS Foundation “Boot Up for Research” contest is on at the 2023 National Meeting in Salt Lake City!</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="AALAS Foundation 2023 Live and Silent Auction">
            <img data-src="images/entry6.png" alt="AALAS Foundation 2023 Live and Silent Auction image" class="lazyimg">
         </a>
         <p class="post-date"><strong>Jul 05, 2023</strong></p>
         <h6><a href="#" title="AALAS Foundation 2023 Live and Silent Auction">AALAS Foundation 2023 Live and Silent Auction</a></h6>
         <p>Are you looking for a way to advance biomedical research and gain valuable exposure for your organization? The AALAS Foundation is holding its Silent Auction at the 74th Annual AALAS National Meeting.</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="AALAS Foundation 2021 Silent and Live Auction">
            <img data-src="images/entry7.png" alt="AALAS Foundation 2021 Silent and Live Auction image" class="lazyimg">
         </a>
         <p class="post-date"><strong>Jul 15, 2021</strong></p>
         <h6><a href="#" title="AALAS Foundation 2021 Silent and Live Auction">AALAS Foundation 2021 Silent and Live Auction</a></h6>
         <p>The AALAS Foundation is holding its annual Silent and Live Auction during the 72nd Annual AALAS National Meeting!</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="Call for Entries: “I Love Research Animals” Video Contest!">
            <img data-src="images/entry8.png" alt="Call for Entries: “I Love Research Animals” Video Contest! image" class="lazyimg">
         </a>
         <p class="post-date"><strong>Jul 15, 2021</strong></p>
         <h6><a href="#" title="Call for Entries: “I Love Research Animals” Video Contest!">Call for Entries: “I Love Research Animals” Video Contest!</a></h6>
         <p>We Want to Know: What's Your Favorite Research Animal - and Why?</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
      <li>
         <a href="#" class="image-link" title="Seeking Candidates for AALAS Foundation Board of Directors">
            <img data-src="images/entry9.png" alt="Seeking Candidates for AALAS Foundation Board of Directors image" class="lazyimg">
         </a>
         <p class="post-date"><strong>Mar 25, 2020</strong></p>
         <h6><a href="#" title="Seeking Candidates for AALAS Foundation Board of Directors">Seeking Candidates for AALAS Foundation Board of Directors</a></h6>
         <p>We are now seeking applications and resumes to fill three Director-at-Large positions to be seated on the AALAS Foundation Board at the conclusion of the 2020 National Meeting in Charlotte, North Carolina.</p>
         <p><a href="#" title="Learn More" class="btn-chev-right">LEARN MORE</a></p>
      </li>
   </ul>
   <div class="news-updates-nav">
      <a href="#" class="btn-chev-left" disabled title="Previous Page">Previous</a>
      <ul class="pager-list">
         <li><a href="#" title="Page 1" class="current-page">1</a></li>
         <li><a href="#" title="Page 2">2</a></li>
         <li><a href="#" title="Page 3">3</a></li>
         <li><a href="#" title="Page 4">4</a></li>
         <li><a href="#" title="Page 5">5</a></li>
         <li><a href="#" title="Next few">...</a></li>
         <li><a href="#" title="Page 20">20</a></li>
      </ul>
      <a href="#" class="btn-chev-right" title="Next Page">Next</a>
   </div>
</div>