<div class="pp-programs-outreach-cards">
   <ul class="programs-outreach-list">
      <li>
         <div class="inner-card">
            <h4 class="gradient-underline">Ann Turner CARE Academy</h4>
            <p>Ann Turner CARE (Celebrate Animal Research and Education) Outreach Training Academy - The Ann Turner CARE Academy is a public outreach training program designed to train and prepare AALAS members in their public outreach efforts.</p>
            <p class="cta-p"><a class="btn-chev-circle-r" href="#">Learn More</a></p>
         </div>
      </li>
      <li>
         <div class="inner-card">
            <h4 class="gradient-underline">Animal Research Education and Awareness (AREA) Program</h4>
            <p>AREA (Animal Research Education and Awareness) Program sponsored by Pfizer - an outreach initiative that introduces high school students and teachers to
   laboratory animal science and career opportunities in biomedical research through interactive experiences at the AALAS National Meeting.</p>
            <p class="cta-p"><a class="btn-chev-circle-r" href="#">Learn More</a></p>
         </div>
         
      </li>
      <li>
         <div class="inner-card">
            <h4 class="gradient-underline">“Celebrate Our Research Animal Partners” Public Outreach Program</h4>
            <p>Free, fully-scripted, speaker-ready “What&apos;s Happening in Research?” PowerPoint Presentations.</p>
            <p class="cta-p"><a class="btn-chev-circle-r" href="#">Learn More</a></p>
         </div>
         
      </li>
      <li>
         <div class="inner-card">
            <h4 class="gradient-underline">POE Awards</h4>
            <p>An annual award that recognizes individual members and AALAS Branches for exceptional outreach efforts that promote public understanding of laboratory animal science.</p>
            <p class="cta-p"><a class="btn-chev-circle-r" href="#">Learn More</a></p>
         </div>
      </li>
   </ul>
</div>