<div class="pp-volunteer-cards animate-in">
   <ul class="cards-list">
      <li>
         <a href="#" title="Tour Guide or Exhibitor for the AREA Program & Event Support">
            <h4>Tour Guide or Exhibitor for the AREA Program & Event Support</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
      <li>
         <a href="#" title="Serve on one of the AALAS Foundation Committees">
            <h4>Serve on one of the AALAS Foundation Committees</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
      <li>
         <a href="#" title="Serve on the AALAS Foundation Board of Directors">
            <h4>Serve on the AALAS Foundation Board of Directors</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
      <li>
         <a href="#" title="Exhibit for the AALAS Foundation at a Conference">
            <h4>Exhibit for the AALAS Foundation at a Conference</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
   </ul>
</div>