<div class="pp-colored-cards animate-in">
   <ul class="cards-list">
      <li>
         <a href="#" title="Memorial Gifts">
            <h4>Memorial Gifts</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
      <li>
         <a href="#" title="Monthly Giving ('Partners in Sharing')">
            <h4>Monthly Giving ('Partners in Sharing')</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
      <li>
         <a href="#" title="Combined Federal Campaign (CFC #060730)">
            <h4>Combined Federal Campaign (CFC #060730)</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
      <li>
         <a href="#" title="Legacy Society">
            <h4>Legacy Society</h4>
            <span class="btn-chev-circle-r">Learn More</span>
         </a>
      </li>
   </ul>
</div>