@use 'variables' as *;

/* Media Queries */
/* all values in pixels */


/* Container queries */

// Remember to declare a containment context by adding the container-type rule to a parent element
// e.g., .parent { container-type: inline-size; }

// custom

@mixin container($size) {
  @container (min-width: #{$size}px) {
    @content;
  }
}