@use 'variables' as *;

/* Media Queries */
/* all values in pixels */

// breakpoints
$S: 767px;
$M: 768px;
$L: 1024px;
$XL: 1440px;

// media queries
@mixin MQ($canvas) {
   @if $canvas == S {@media only screen and (max-width: $S) {@content;}}
   @else if $canvas == M {@media only screen and (min-width: $M) {@content;}}
   @else if $canvas == L {@media only screen and (min-width: $L) {@content;}}
   @else if $canvas == XL {@media only screen and (min-width: $XL) {@content;}}
}



/* Container queries */

// Remember to declare a containment context by adding the container-type rule to a parent element
// e.g., .parent { container-type: inline-size; }

// custom

@mixin container($size) {
  @container (min-width: #{$size}px) {
    @content;
  }
}