<div class="pp-50-split copy-image animate-in" data-layout="copy-image">
   <div class="image-side">
      <img src="images/image-split-dog-websafe.jpg" alt="dog being pet by woman in lab coat">
   </div>
   <div class="copy-side text-content">
      <h2>Right Image & Left Text</h2>
      <h4>Subtext words go here.</h4>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
      <p><a href="#" class="btn-gradient" title="optional CTA">Optional CTA</a></p>
   </div>
</div>