<div class="pp-accordion">
   <div class="accordion-wrapper">
      <h4 class="accordion-title">What is the AALAS Foundation? <span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>The AALAS Foundation is a 501(c)(3) nonprofit organization that promotes public understanding of responsible laboratory animal care and use in scientific research. We provide free educational materials, outreach resources, and programs that highlight how research with animals contributes to improving human and animal health.</p>
      </div>
   </div>
   <div class="accordion-wrapper">
      <h4 class="accordion-title">How is the AALAS Foundation related to AALAS?<span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>The AALAS Foundation supports the mission of the American Association for Laboratory Animal Science (AALAS) by focusing on <strong>public awareness and education</strong>. While AALAS serves members of the laboratory animal science profession, the Foundation engages the public to build understanding and support for biomedical research.</p>
      </div>
   </div>
   <div class="accordion-wrapper">
      <h4 class="accordion-title">How are donations to the AALAS Foundation used?<span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis nulla mi. Fusce sit amet consectetur elit. Nullam elementum eu magna sed rhoncus. Curabitur sodales venenatis eros. Etiam maximus nisi ut dolor facilisis tincidunt. Maecenas interdum et mauris quis molestie. Donec eget lacinia leo. Nunc laoreet rhoncus rutrum. Etiam varius, massa eget fringilla elementum, nibh tellus tincidunt mauris, quis laoreet risus ex non nunc. Cras dolor tellus, lobortis varius urna eget, lobortis ultrices urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi finibus ac odio vel consequat. Aliquam molestie sapien ac diam tempus facilisis. Phasellus vitae turpis tincidunt, cursus enim a, varius nunc. Etiam efficitur nisi a velit luctus bibendum. Etiam vitae nulla nibh.</p>
      </div>
   </div>
   <div class="accordion-wrapper">
      <h4 class="accordion-title">What types of programs does the AALAS Foundation support?<span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>Maecenas rhoncus lacus a justo accumsan blandit. Morbi vitae convallis neque. Suspendisse tempor neque et erat volutpat, at malesuada ex faucibus. Aenean vehicula urna id risus tempus finibus. Etiam suscipit elit id cursus egestas. Duis eleifend massa eros, a pellentesque tortor suscipit eu. Etiam dui libero, posuere id posuere sed, tincidunt in magna. Duis posuere neque eget leo lacinia, eu venenatis lorem mattis. Sed faucibus augue id auctor tempor. Maecenas euismod odio at nisi rutrum gravida. Aliquam consequat bibendum purus et gravida. Fusce non luctus enim. Duis finibus at arcu quis volutpat. Aenean id interdum nunc.</p>
      </div>
   </div>
   <div class="accordion-wrapper">
      <h4 class="accordion-title">How can I volunteer with the AALAS Foundation?<span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>Vivamus purus lorem, tristique ut metus at, rhoncus vehicula lacus. Donec eget mattis ligula. Curabitur cursus pellentesque sapien, vel aliquam metus hendrerit quis. Sed malesuada nulla non venenatis laoreet. Praesent in urna sodales ligula tempor aliquam in sit amet velit. Etiam viverra erat ante, quis interdum ipsum ullamcorper id. Mauris in orci enim. Integer in erat facilisis odio euismod viverra. Morbi bibendum odio varius leo ultrices, quis semper libero imperdiet. Sed dapibus nulla elit, bibendum ultrices mauris ullamcorper ac. Cras in mi a libero tincidunt vulputate.</p>
      </div>
   </div>
   <div class="accordion-wrapper">
      <h4 class="accordion-title">Do I have to be an AALAS member to volunteer?<span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>Etiam tellus quam, vehicula sit amet gravida ac, facilisis mollis dui. Nam at nibh fermentum velit facilisis accumsan. Curabitur sit amet vulputate ex. Nam urna justo, rutrum eu sapien in, ultricies pharetra lacus. Cras rutrum sagittis arcu vitae consequat. Praesent non congue nunc, non fermentum neque. Donec elementum sem nisl, nec scelerisque metus elementum sit amet. Nulla vulputate ultricies justo, quis posuere purus volutpat in. Pellentesque vitae odio vel risus aliquam elementum. Suspendisse laoreet, ex non hendrerit commodo, magna elit dictum leo, a ultricies quam dolor et nulla. Praesent at sollicitudin tortor, vitae tempor lectus. Ut metus elit, suscipit in neque vitae, fermentum fringilla orci. Etiam a augue nec urna feugiat porttitor quis sit amet lorem. Donec scelerisque nibh nec risus venenatis, ac rhoncus velit lobortis. Nulla vitae velit et dolor faucibus egestas.</p>
      </div>
   </div>
   <div class="accordion-wrapper">
      <h4 class="accordion-title">What if I have an idea for an outreach activity?<span class="icon-chev"></span></h4>
      <div class="accordion-content">
         <p>Nulla congue mattis dui, luctus imperdiet justo pretium non. Donec non eros turpis. Nunc pulvinar laoreet felis eget ornare. Donec tellus ex, egestas a diam id, placerat ullamcorper nunc. Integer fermentum laoreet risus sed lacinia. Fusce sit amet nibh dui. Donec sodales vitae libero in porttitor. Quisque eu felis sed turpis rutrum porta ut in nibh. Fusce ornare iaculis blandit. Nulla sagittis accumsan nibh in vulputate. Ut condimentum varius leo ac vestibulum.</p>
      </div>
   </div>
</div>