<div class="pp-image-gallery-slider">
   <div class="big-picture-wrapper swiper mySwiper2">
      <ul class="swiper-wrapper big-picture-slider ">
         <li class="swiper-slide">
            <a href="images/slide1.jpg" title="Slide 1 image. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non rutrum neque. Integer nec enim tempor, ornare enim vel, posuere odio. Nulla mi metus, luctus in tortor ac, efficitur accumsan ligula. Sed fringilla euismod lectus, nec laoreet magna dignissim ac. Aliquam eget orci nec dui placerat volutpat. Nullam ut lorem at erat ultricies varius. Vivamus bibendum rutrum ex, vitae iaculis tellus ornare vitae. Pellentesque accumsan a ipsum ornare laoreet. Nulla tincidunt felis mollis lacus semper mattis." class="glightbox">
               <img src="images/slide1.jpg" alt="Slide 1 image. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non rutrum neque. Integer nec enim tempor, ornare enim vel, posuere odio. Nulla mi metus, luctus in tortor ac, efficitur accumsan ligula. Sed fringilla euismod lectus, nec laoreet magna dignissim ac. Aliquam eget orci nec dui placerat volutpat. Nullam ut lorem at erat ultricies varius. Vivamus bibendum rutrum ex, vitae iaculis tellus ornare vitae. Pellentesque accumsan a ipsum ornare laoreet. Nulla tincidunt felis mollis lacus semper mattis.">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide2.jpg" title="Slide 2 . Ut pellentesque sem non euismod porta. Etiam tortor magna, finibus eget tellus sit amet, imperdiet sodales eros. Nunc ullamcorper vestibulum dui, vitae faucibus mauris vehicula ut. Aliquam semper" class="glightbox">
               <img src="images/slide2.jpg" alt="Slide 2 . Ut pellentesque sem non euismod porta. Etiam tortor magna, finibus eget tellus sit amet, imperdiet sodales eros. Nunc ullamcorper vestibulum dui, vitae faucibus mauris vehicula ut. Aliquam semper">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide3.jpg" title="Slide 3" class="glightbox">
               <img src="images/slide3.jpg" alt="Slide 3 image">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide4.jpg" title="Slide 4" class="glightbox">
               <img src="images/slide4.jpg" alt="Slide 4 image">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide5.jpg" title="Slide 5" class="glightbox">
               <img src="images/slide5.jpg" alt="Slide 5 image">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide6.jpg" title="Slide 6" class="glightbox">
               <img src="images/slide6.jpg" alt="Slide 6 image">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide7.jpg" title="Slide 7" class="glightbox">
               <img src="images/slide7.jpg" alt="Slide 7 image">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide8.jpg" title="Slide 8" class="glightbox">
               <img src="images/slide8.jpg" alt="Slide 8 image">
            </a>
         </li>
         <li class="swiper-slide">
            <a href="images/slide9.jpg" title="Slide 9" class="glightbox">
               <img src="images/slide9.jpg" alt="Slide 9 image">
            </a>
         </li>
      </ul>
      
   </div>
   

   <div class="meta-wrap">
      <div class="thumb-wrapper swiper mySwiper">
         <ul class="swiper-pagination-list swiper-wrapper">
            <li class="swiper-slide">
               <img src="images/slide1.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide2.jpg" alt="Image 2 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide3.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide4.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide5.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide6.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide7.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide8.jpg" alt="Image 1 thumbnail info">
            </li>
            <li class="swiper-slide">
               <img src="images/slide9.jpg" alt="Image 1 thumbnail info">
            </li>

         </ul>
      </div>
      
      <p class="swiper-description">Slide 1 image. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non rutrum neque. Integer nec enim tempor, ornare enim vel, posuere odio. Nulla mi metus, luctus in tortor ac, efficitur accumsan ligula. Sed fringilla euismod lectus, nec laoreet magna dignissim ac. Aliquam eget orci nec dui placerat volutpat. Nullam ut lorem at erat ultricies varius. Vivamus bibendum rutrum ex, vitae iaculis tellus ornare vitae. Pellentesque accumsan a ipsum ornare laoreet. Nulla tincidunt felis mollis lacus semper mattis.</p>
   </div>
   <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
   
   
</div>