<div class="pp-portals">
   <ul class="portals-list">
      <li>
         <a href="#" title="Learn More">
            <div class="portal-img lazybg" data-src="images/portal-1-websafe-xs.jpg"></div>
            <h5>Item Name</h5>
            <p>LEARN MORE</p>
         </a>
      </li>
      <li>
         <a href="#" title="Learn More">
            <div class="portal-img lazybg" data-src="images/portal-2-websafe-xs.jpg"></div>
            <h5>Item Name</h5>
            <p>LEARN MORE</p>
         </a>
      </li>
      <li>
         <a href="#" title="Learn More">
            <div class="portal-img lazybg" data-src="images/portal-3-websafe-xs.jpg"></div>
            <h5>Item Name</h5>
            <p>LEARN MORE</p>
         </a>
      </li>
      <li>
         <a href="#" title="Learn More">
            <div class="portal-img lazybg" data-src="images/portal-4-websafe-xs.jpg"></div>
            <h5>Item Name</h5>
            <p>LEARN MORE</p>
         </a>
      </li>
   </ul>
</div>