<div class="pp-promo-area-stats animate-in-out invert">
   <div class="lazybg parallax-bg" data-src="images/promo-stats-bg-websafe.jpg"></div>
   <h2>Monthly Giving Metrics</h2>
   <div class="inner-wrapper">
      <ul class="stats-grid">
         <li>
            <h3 class="stat-title"><span class="stat-number" id="stat-1" data-stat-start="0" data-stat-end="93988">93,988</span></h3>
            <p>outreach materials distributed in 2023</p>
         </li>
         <li>
            <h3 class="stat-title">$<span class="stat-number" id="stat-2" data-stat-start="100" data-stat-end="10">10</span></h3>
            <p>monthly covers</p>
         </li>
         <li>
            <h3 class="stat-title"><span class="stat-number" id="stat-3" data-stat-start="0" data-stat-end="8000">8,000</span></h3>
            <p>materials shipped annually</p>
         </li>
         <li>
            <h3 class="stat-title"><span class="stat-number" id="stat-4" data-stat-start="0" data-stat-end="10000">10,000</span></h3>
            <p>Lorem ipsum dolor sit amet</p>
         </li>
      </ul>
   </div>
</div>