<div class="pp-promo-area animate-in-out">
   <div class="lazybg parallax-bg" data-src="images/promo-area-bg-websafe.jpg"></div>
   <div class="inner-wrapper invert">
      <h2>Image & Text Promo Area</h2>
      <h3>Subtext words go here.</h3>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
      <p>&nbsp;</p>
      <p><a href="#" class="btn-gradient" title="optional CTA">Optional CTA</a></p>
   </div>
</div>