<div class="pp-quote animate-in-out">
   <div id="particles-js"></div>
   <div class="quote-inner">
      <div class="quote-wrap">
         <span class="quote-marks"></span>
         <h6 class="quote-content">Once I spoke the language of the flowers, once I understood each word the caterpillar said, once I smiled in secret at the gossip of the starlings, and shared a conversation with the housefly in my bed. Once I heard and answered all the questions of the crickets, and joined the crying of each falling dying flake of snow, once I spoke the language of the flowers... How did it go? How did it go?</h6>
         
      </div>
      <p class="quote-author">- Shel Silverstein, Where the Sidewalk Ends</p>
      
   </div>
</div>