<header class="header">
    <div class="inner-wrapper">
      <a class="header__logo-link" href="/" title="Home page">
         <img class="header__logo-image" src="images/brand/aalas-logo.png" alt="AALAS Foundation logo">
      </a>
      <ul id="mainnav">
         <li><a href="/programs-outreach">Programs &amp; Outreach</a></li>
         <li><a href="#">Educational Resources</a></li>
         <li>
            <a href="#">Get Involved</a>
            <ul>
               <li><a href="/standard-template">Standard Template</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/ways-to-give">Ways To Give</a></li>
               <li><a href="/faqs">FAQs</a></li>
               <li><a href="/campaigns-impact">Campaigns & Impact</a></li>
               <li><a href="/board-of-directors">Board of Directors</a></li>
               <li><a href="/volunteer">Volunteer Opportunities</a></li>
               <li><a href="/contact">Contact Us</a></li>
               <li><a href="/events">Events</a></li>
               <li>
                  <a href="/news-updates">News &amp; Updates</a>
                  <ul>
                     <li><a href="/news-updates-single" title="Appreciation Reception &amp; Auction">Apprecition Reception &amp; Auction</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="#">Our Sponsors</a></li>
      </ul>
      <button class="search-trigger" type="button" aria-label="Toggle Search"></button>
      <a href="#" class="btn-green-gradient" title="Donate to AALAS">DONATE</a>
      <button class="hamburger" type="button" aria-label="Toggle Menu">
            <div class="hamburger__inner">
               <span class="hamburger__line hamburger__line--top"></span>
               <span class="hamburger__line hamburger__line--middle"></span>
               <span class="hamburger__line hamburger__line--bottom"></span>
            </div>
      </button>
    </div>
</header>