<header class="header scroll-header">
	<div class="inner-wrapper">
		<a class="logo-link" href="./index.html" title="Home page">
			<img
				class="header__logo-image"
				src="images/brand/aalas-logo.png"
				alt="AALAS Foundation logo"
			/>
		</a>
		<div class="menu-side">
			<ul id="mainnav">
				<li><a href="./programs-outreach.html">Programs &amp; Outreach</a></li>
				<li><a href="#">Educational Resources</a></li>
				<li>
					<a href="#">Get Involved</a>
					<ul>
						<li><a href="./standard-template.html">Standard Template</a></li>
						<li><a href="./about.html">About</a></li>
						<li><a href="./ways-to-give.html">Ways To Give</a></li>
						<li><a href="./faqs.html">FAQs</a></li>
						<li><a href="./campaigns-impact.html">Campaigns & Impact</a></li>
						<li><a href="./board-of-directors.html">Board of Directors</a></li>
						<li><a href="./volunteer.html">Volunteer Opportunities</a></li>
						<li><a href="./contact.html">Contact Us</a></li>
						<li><a href="./events.html">Events</a></li>
						<li>
							<a href="./news-updates.html">News &amp; Updates</a>
							<ul>
								<li>
									<a
										href="./news-updates-post.html"
										title="Appreciation Reception &amp; Auction"
										>Apprecition Reception &amp; Auction</a
									>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">Our Sponsors</a></li>
			</ul>
			<button
				class="search-trigger"
				type="button"
				aria-label="Toggle Search"
			></button>
			<a href="#" class="btn-gradient" title="Donate to AALAS">DONATE</a>
			<button class="hamburger" type="button" aria-label="Toggle Menu">
				<div class="hamburger__inner">
					<span class="hamburger__line hamburger__line--top"></span>
					<span class="hamburger__line hamburger__line--middle"></span>
					<span class="hamburger__line hamburger__line--bottom"></span>
				</div>
			</button>
		</div>
	</div>
</header>
