<div class="sidecar" id="sidecar">
    <nav class="mobile-nav">
        <ul class="menu">
            <li class="menu__item menu__item--has-children">
                <svg class="menu__icon green-fill"><use href="#icon_cog"/></svg>
                <a href="#">Learn</a>
                <ul class="menu">
                    <li class="menu__item"><a href="#">Caring</a></li>
                    <li class="menu__item"><a href="#">Helping</a></li>
                    <li class="menu__item"><a href="#">Discovering</a></li>
                    <li class="menu__item"><a href="#">Careers</a></li>
                </ul>
                <button class="menu__expand" type="button" aria-label="Expand Menu"><svg class="icon"><use href="#icon_chevron_down"/></svg></button>
            </li>
            <li class="menu__item menu__item--has-children">
                <svg class="menu__icon blue-fill"><use href="#icon_star"/></svg>
                <a href="#">Fun Zone</a>
                <ul class="menu">
                    <li class="menu__item"><a href="#">Activities</a></li>
                    <li class="menu__item"><a href="#">Animal Fun Facts</a></li>
                    <li class="menu__item"><a href="#">Vocabulary</a></li>
                    <li class="menu__item"><a href="#">Puzzles, Posters, & More</a></li>
                </ul>
                <button class="menu__expand" type="button" aria-label="Expand Menu"><svg class="icon"><use href="#icon_chevron_down"/></svg></button>
            </li>
            <li class="menu__item">
                <svg class="menu__icon red-fill"><use href="#icon_trophy"/></svg>
                <a href="#">Contests</a>
            </li>
            <li class="menu__item">
                <svg class="menu__icon orange-fill"><use href="#icon_book"/></svg>
                <a href="#">Teacher Resources</a>
            </li>
        </ul>
    </nav>
</div>