<div class="sidecar" id="sidecar">
    <ul id="sidecar-nav">
      <li><a href="/programs-outreach">Programs &amp; Outreach</a></li>
      <li><a href="#">Educational Resources</a></li>
      <li>
         <a href="#">Get Involved</a>
         <ul>
            <li><a href="./standard-template.html">Standard Template</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./ways-to-give">Ways To Give</a></li>
            <li><a href="./faqs">FAQs</a></li>
            <li><a href="./campaigns-impact">Campaigns & Impact</a></li>
            <li><a href="./board-of-directors">Board of Directors</a></li>
            <li><a href="/volunteer">Volunteer Opportunities</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/events">Events</a></li>
            <li>
               <a href="/news-updates">News &amp; Updates</a>
               <ul>
                  <li>
                     <a
                        href="/news-updates-single"
                        title="Appreciation Reception &amp; Auction"
                        >Apprecition Reception &amp; Auction</a
                     >
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li><a href="#">Our Sponsors</a></li>
   </ul>
</div>