@use '../abstracts' as *;



.pp-accordion {
    .accordion-wrapper {
        display: grid;
        margin: 0;
        grid-template-rows: min-content 0fr;
        transition: grid-template-rows .33s ease-in-out;
        margin-bottom: 25px;
        h4.accordion-title {
            background: white;
            user-select: none;
            cursor: pointer;
            padding: 20px 70px 20px 25px;
            border-radius: 30px;
            margin: 0 0 4px;
            position: relative;
            display: flex;
            align-items: center;
            span.icon-chev {
                position: absolute;
                width: 34px;
                height: 34px;
                border: 2px solid black;
                border-radius: 50%;
                right: 25px;
                top: 50%;
                transform: translateY(-50%) rotate(0deg);
                background: url('../images/icons/icon-chev-right.svg') no-repeat  55% center;
                background-size: 10px 15px;
                transition: all .33s ease;
            }
        }
        .accordion-content {
            overflow: hidden;
            height: 0px;
            interpolate-size: allow-keywords;
            transition: all .33s ease-in-out;
            overflow-y: clip;
            padding: 0 25px;
            background: white;
            border-radius: 40px;
        }
        &.active {
            grid-template-rows: min-content 1fr;
            span.icon-chev {
                transform: translateY(-50%) rotate(90deg)!important;
            }
            .accordion-content {
                height: auto;
                padding: 25px;
            }
        }
    }
}