@use '../abstracts' as *;

.pp-programs-outreach-cards {
	margin: 50px 0 40px;
	.tns-outer {
		.tns-ovh {
			overflow: visible;
			.tns-inner {
				@include MQ(S) {
					width: calc(100% - 50px);
				}
				ul.programs-outreach-list {
					list-style: none;
					margin: 0;
					@include MQ(S) {
						display: inline-flex;
						height: 100%;
						position: relative;
					}
					@include MQ(M) {
						display: flex;
						flex-wrap: wrap;
						gap: 10px;
					}

					li {
						display: flex;
						flex-direction: column;
						margin: 0;
						padding: 5px;
						position: relative;
						@include MQ(S) {
							height: auto;
							padding: 0 15px;
						}
						@include MQ(M) {
							flex-basis: calc(50% - 5px);
						}
						@include MQ(L) {
							flex-basis: calc((100% / 4) - 8px);
						}
						.inner-card {
							padding: 25px 25px 15px;
							background: white;
							border-radius: 40px;
							height: 100%;
							display: flex;
							flex-direction: column;
							p {
								margin: 0 0 40px;
								&.cta-p {
									margin: auto 0 0;
									text-align: right;
									a {
										margin: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		.tns-nav {
			margin-top: 40px;
			button:not(.tns-nav-active) {
				background: #acacac;
			}
		}
	}
}
