@use '../abstracts' as *;



.pp-staff {
    display: inline-block;
    padding: 15px;
    margin-bottom: 25px;
    &.half {
        width: calc(50% - 2px);
        @include MQ(S) {
            width: 100%;
        }
        ul.staff-list li {
            flex-basis: 100%;
        }
    }
    &.full {
        width: 100%;
        ul.staff-list li {
            
            @include MQ(M) {
                flex-basis: calc((100% / 2) - 13px);
            }
            @include MQ(L) {
                flex-basis: calc((100% / 4) - 20px);
            }
            @include MQ(S) {
                flex-basis: 100%;
            }
        }
    }
    h4 {
        text-align: center;
        
    }
    ul.staff-list {
        display: flex;
        list-style: none;
        margin: 0;
        gap: 25px;
        flex-wrap: wrap;
        &.f-grow li {
            flex-grow: 1;
        }
        li {
            margin: 0;
            background: white;
            border-radius: 25px;
            padding: 15px;
            text-align: center;
            h6 {
                font-weight: 500;
                &:after {
                    max-width: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}