@use "../abstracts" as *;

.pp-quote {
	margin: 75px auto 50px;
	position: relative;
	border-radius: 40px;
	width: 80%;
	overflow: hidden;
	background: linear-gradient(90deg, $green 0%, $blue 100%);
	@include MQ(S) {
		margin: 50px -15px;
		border-radius: 0;
		width: calc(100% + 30px);
	}
	#particles-js {
		opacity: 0.6;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		mix-blend-mode: overlay;
	}
	.quote-inner {
		position: relative;
		padding: 100px 100px;
		@include MQ(S) {
			padding: 75px 25px 40px;
		}

		.quote-wrap {
			position: relative;
			display: flex;
			justify-content: space-between;
			.quote-marks {
				display: inline-block;
				position: relative;
				width: 45px;
				bottom: -20px;
				width: 4px;
				text-align: center;
				&:before {
					position: absolute;
					left: 50%;
					bottom: 100%;
					width: 45px;
					height: 35px;
					transform: translateX(-50%);
					background-image: url("../images/icons/icon-quote-marks.svg");
					background-repeat: no-repeat;
					content: "";
					background-position: center;
				}
				&:after {
					content: "";
					position: absolute;
					left: 50%;
					top: 15px;
					height: calc(100% - 25px);
					background: black;
					width: 4px;
					border-radius: 50px;
					transition: all 0.33s ease 0s;
				}
			}
			h6.quote-content {
				margin: 0;
				font-weight: 600;
				letter-spacing: 1.6;
				font-size: 26px;
				flex-basis: calc(100% - 50px);
				@include MQ(S) {
					font-size: 22px;
				}
			}
		}
		p {
			font-weight: 600;
			text-transform: uppercase;
			font-size: 20px;
			margin: 40px 0 0;
		}
	}
	&[class*="animate-in"] {
		.quote-inner {
			.quote-marks {
				&:before {
					opacity: 0;
				}
				&:after {
					height: 0;
				}
			}
			h6 {
				opacity: 0;
			}
			p {
				opacity: 0;
			}
		}
		&.inview {
			.quote-inner {
				.quote-marks {
					&:before {
						animation: fadeIn 1s ease forwards;
					}
					&:after {
						height: calc(100% - 25px);
						transition-delay: 0.33s;
					}
				}
				h6 {
					animation: fadeInLeft 0.5s ease 0.66s forwards;
				}
				p {
					animation: fadeInDown 1s ease forwards 1s;
				}
			}
		}
	}
}
