@use '../abstracts' as *;

.pp-promo-area {
	margin: 60px 0;
	position: relative;
	padding: 40px 25px;
	overflow: hidden;
	border-radius: 40px;
	@include MQ(M) {
		width: 90%;
		margin: 80px auto;
	}
	.lazybg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		transition: all 0.1s ease;
	}
	.inner-wrapper {
		padding: 30px 25px;
		background: rgba(black, 0.35);
		backdrop-filter: blur(10px);
		border-radius: 15px;
		position: relative;
		@include MQ(M) {
			width: 45%;
			margin-left: auto;
		}
	}
	&[class*="animate-in"] {
		opacity: 0;
		.inner-wrapper {
			opacity: 0;
		}
		&.inview {
			animation: fadeInDown 0.66s ease forwards;
			.inner-wrapper {
				animation: fadeInRight 1s ease forwards 0.5s;
			}
		}
	}
}
